.city-group
  - province = '440000'
  - city = '440300'
  - district = '440305'

  - provinces  = ChinaCity.list
  - cities     = ChinaCity.list(province)
  - districtes = ChinaCity.list(city)

.use-html-helper-tag.city-group
  = select_tag :province, options_for_select(provinces, province) , prompt: '--省份--', class: ['city-select', 'city-province']
  = select_tag :city    , options_for_select(cities, city)        , prompt: '--城市--', class: ['city-select', 'city-province']
  = select_tag :district, options_for_select(districtes, district), prompt: '--地区--', class: ['city-select', 'city-province']

.use-html-tag.city-group
  select.city-select.city-province
    option --省份--
    = options_for_select(ChinaCity.list, province)
  select.city-select.city-city
    option --城市--
    = options_for_select(cities, city)
  select.city-select.city-district
    option --地区--
    = options_for_select(districtes, district)
