<!doctype html>
<html>
  <head>
    <title>ChinaCity</title>
    <%= stylesheet_link_tag    "china_city/application", media: "all" %>
    <%= javascript_include_tag "china_city/application" %>
    <%= csrf_meta_tags %>

  <body>
    <%= yield %>
  </body>
</html>
